aethero_pipeline_workflow.json
{
  "name": "Aethero Pipeline Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aethero-webhook"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "text": "={{$json[\"body\"]}}"
      },
      "name": "AE Mind Parser",
      "type": "aeMindParser",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AE Mind Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AE Mind Parser": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
